<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">
    Aves
  </span>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <br>
      <div class="row">
        <div class="col-10">
          <div class="form-inline">
            <input class="form-control mr-sm-2" type="search" [(ngModel)]="nombreB" name="nombre" placeholder="Buscar por el nombre">

            <select class="custom-select mr-sm-2" [(ngModel)]="zonaB">
              <option selected value="">Buscar por Zona</option>
              <option *ngFor="let zona of zonas" [ngValue]="zona.cdzona">{{zona.dsnombre}}</option>
            </select>

            <button type="submit" class="btn btn-primary" (click)="getAves()">Buscar</button>
          </div>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-success float-right" (click)="nuevo();" data-toggle="modal" data-target="#aveModal">Crear</button>
        </div>
      </div>
      <br>
      <div class="row mh-100">
        <div class="col-12">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre Común</th>
                <th scope="col">Nombre Cientifico</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ave of aves">
                <td>{{ave.cdave}}</td>
                <td>{{ave.dsnombre_comun}}</td>
                <td>{{ave.dsnombre_cientifico}}</td>
                <td>
                  <button type="button" class="btn btn-dark btn-sm" (click)="buscar(ave)" data-toggle="modal" data-target="#aveModal">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm ml-2" (click)="eliminar(ave.cdave)">Eliminar</button>
                </td>
              </tr>
              <tr *ngIf="aves.length == 0">
                <td colspan="4" class="text-center">No se encontraron registros</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="progress hide">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
          aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ave</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="aveForm" (ngSubmit)="guardar()" novalidate>
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="codigo" class="col-form-label">Código:</label>
              <input type="text" class="form-control" id="codigo" #id formControlName="cdave" maxlength="3" [ngClass]="{'is-invalid': codigo.invalid}">
              <div class="invalid-feedback">
                Por favor, ingrese el código.
              </div>
            </div>
            <div class="form-group col-6">
              <label for="nombreComun" class="col-form-label">Nombre Común:</label>
              <input type="text" class="form-control" id="nombreComun" formControlName="dsnombre_comun" maxlength="100" [ngClass]="{'is-invalid': nombreComun.invalid}">
              <div class="invalid-feedback">
                Por favor, ingrese el nombre común.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <label for="nombreCientifico" class="col-form-label">Nombre Cientifico:</label>
              <input type="text" class="form-control" id="nombreCientifico" formControlName="dsnombre_cientifico" maxlength="200" [ngClass]="{'is-invalid': nombreCientifico.invalid}">
              <div class="invalid-feedback">
                Por favor, ingrese el nombre cientifico.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>